annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
beautifulsoup4==4.14.2
cachetools==6.2.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
deprecation==2.1.0
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.121.2
fastapi-cli==0.0.16
fastapi-cloud-cli==0.3.1
filelock==3.20.0
pydantic==2.12.4
pydantic-core==2.41.5
pygments==2.19.2
pyjwt==2.10.1
pyparsing==3.2.5
python-dotenv==1.2.1
python-multipart==0.0.20
pyyaml==6.0.3
realtime==2.24.0
regex==2025.11.3
requests==2.32.5
sentry-sdk==2.44.0
setuptools==80.9.0
shellingham==1.5.4
supabase==2.24.0
supabase-auth==2.24.0
supabase-functions==2.24.0
sympy==1.14.0
typer==0.20.0
typing-extensions==4.15.0
typing-inspection==0.4.2
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.38.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==15.0.1
yarl==1.22.0